# Eclipse / OMNeT++
.metadata/
*.pdom

# Compiled files
*.so
*.so.*
*.o
*.a

# Build output
build/
out/
Debug/
Release/

# Simulation output
*.vec
*.sca
*.vci

# IDE
.idea/

# Python
__pycache__/
*.pyc

# Large local files
PyFlexe/data/Motion-Sense/x_train.csv
PyFlexe/results/.csv

# OMNeT++ generated metadata
omnetpp-5.7/samples/.metadata/
